In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('train.csv')
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
train.shape

(1460, 81)

In [4]:
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
train = train.drop(['Id','Alley','FireplaceQu','PoolQC','Fence','MiscFeature'],axis=1)

In [6]:
train.GarageCond = train.GarageCond.fillna(train.GarageCond.mode()[0])

In [7]:
train.GarageQual = train.GarageQual.fillna(train.GarageQual.mode()[0])

In [8]:
train.GarageFinish = train.GarageFinish.fillna(train.GarageFinish.mode()[0])

In [9]:
train.GarageType = train.GarageType.fillna(train.GarageType.mode()[0])

In [10]:
train.Electrical = train.Electrical.fillna(train.Electrical.mode()[0])

In [11]:
train.BsmtFinType2 = train.BsmtFinType2.fillna(train.BsmtFinType2.mode()[0])

In [12]:
train.BsmtFinType1 = train.BsmtFinType1.fillna(train.BsmtFinType1.mode()[0])

In [13]:
train.BsmtExposure = train.BsmtExposure.fillna(train.BsmtExposure.mode()[0])

In [14]:
train.BsmtCond = train.BsmtCond.fillna(train.BsmtCond.mode()[0])

In [15]:
train.BsmtQual = train.BsmtQual.fillna(train.BsmtQual.mode()[0])

In [16]:
train.MasVnrType = train.MasVnrType.fillna(train.MasVnrType.mode()[0])

In [17]:
train.GarageYrBlt = train.GarageYrBlt.fillna(train.GarageYrBlt.mode()[0])

In [18]:
train.MasVnrArea = train.MasVnrArea.fillna(train.MasVnrArea.mean())

In [19]:
## Filling outliers LotFrontage
LotFrontage_mean = np.mean(train.LotFrontage)
LotFrontage_std = np.std(train.LotFrontage)

lower = LotFrontage_mean - 3*LotFrontage_std
upper = LotFrontage_mean + 3*LotFrontage_std

LotFrontage_out_rm = [x for x in train.LotFrontage if x >= lower and x <= upper]

rm_values = len(train.LotFrontage) - len(LotFrontage_out_rm)
for i in range(rm_values):
    LotFrontage_out_rm.append(np.median(LotFrontage_out_rm))

train['LotFrontage'] = LotFrontage_out_rm

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 75 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   object
 2   LotFrontage    1460 non-null   float64
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   LotShape       1460 non-null   object
 6   LandContour    1460 non-null   object
 7   Utilities      1460 non-null   object
 8   LotConfig      1460 non-null   object
 9   LandSlope      1460 non-null   object
 10  Neighborhood   1460 non-null   object
 11  Condition1     1460 non-null   object
 12  Condition2     1460 non-null   object
 13  BldgType       1460 non-null   object
 14  HouseStyle     1460 non-null   object
 15  OverallQual    1460 non-null   int64
 16  OverallCond    1460 non-null   int64
 17  YearBuilt      1460 non-null   int64
 18  YearRemodAdd   1460 non-null   int64
 19  RoofStyle      1460 non-null   object
 20  RoofMatl       1460 non-null   object
 21  Exterior1st    1460 non-null   object
 22  Exterior2nd    1460 non-null   object
 23  MasVnrType     1460 non-null   object
 24  MasVnrArea     1460 non-null   float64
 25  ExterQual      1460 non-null   object
 26  ExterCond      1460 non-null   object
 27  Foundation     1460 non-null   object
 28  BsmtQual       1460 non-null   object
 29  BsmtCond       1460 non-null   object
 30  BsmtExposure   1460 non-null   object
 31  BsmtFinType1   1460 non-null   object
 32  BsmtFinSF1     1460 non-null   int64
 33  BsmtFinType2   1460 non-null   object
 34  BsmtFinSF2     1460 non-null   int64
 35  BsmtUnfSF      1460 non-null   int64
 36  TotalBsmtSF    1460 non-null   int64
 37  Heating        1460 non-null   object
 38  HeatingQC      1460 non-null   object
 39  CentralAir     1460 non-null   object
 40  Electrical     1460 non-null   object
 41  1stFlrSF       1460 non-null   int64
 42  2ndFlrSF       1460 non-null   int64
 43  LowQualFinSF   1460 non-null   int64
 44  GrLivArea      1460 non-null   int64
 45  BsmtFullBath   1460 non-null   int64
 46  BsmtHalfBath   1460 non-null   int64
 47  FullBath       1460 non-null   int64
 48  HalfBath       1460 non-null   int64
 49  BedroomAbvGr   1460 non-null   int64
 50  KitchenAbvGr   1460 non-null   int64
 51  KitchenQual    1460 non-null   object
 52  TotRmsAbvGrd   1460 non-null   int64
 53  Functional     1460 non-null   object
 54  Fireplaces     1460 non-null   int64
 55  GarageType     1460 non-null   object
 56  GarageYrBlt    1460 non-null   float64
 57  GarageFinish   1460 non-null   object
 58  GarageCars     1460 non-null   int64
 59  GarageArea     1460 non-null   int64
 60  GarageQual     1460 non-null   object
 61  GarageCond     1460 non-null   object
 62  PavedDrive     1460 non-null   object
 63  WoodDeckSF     1460 non-null   int64
 64  OpenPorchSF    1460 non-null   int64
 65  EnclosedPorch  1460 non-null   int64
 66  3SsnPorch      1460 non-null   int64
 67  ScreenPorch    1460 non-null   int64
 68  PoolArea       1460 non-null   int64
 69  MiscVal        1460 non-null   int64
 70  MoSold         1460 non-null   int64
 71  YrSold         1460 non-null   int64
 72  SaleType       1460 non-null   object
 73  SaleCondition  1460 non-null   object
 74  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(34), object(38)
memory usage: 855.6+ KB

In [21]:
catagorical_features = [column for column in train.columns if train.dtypes[column] == 'object']

In [22]:
data = [i for i in range(0,1460)]
catagorical_dummies = pd.DataFrame(data)
for column in catagorical_features:
    catagorical_dummies = pd.concat([catagorical_dummies,pd.get_dummies(train[column] , drop_first=True)],axis=1)

In [23]:
catagorical_dummies

,0,FV,RH,RL,RM,Pave,IR2,IR3,Reg,HLS,...,ConLI,ConLw,New,Oth,WD,AdjLand,Alloca,Family,Normal,Partial
0,0,0,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
1,1,0,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
2,2,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,3,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,4,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,0,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
1456,1456,0,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
1457,1457,0,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
1458,1458,0,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
1459,1459,0,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0

In [24]:
train = pd.concat([train,pd.get_dummies(train,drop_first=True)],axis=1)

In [25]:
train = train.drop(catagorical_features ,axis=1)

In [26]:
train = train.iloc[:,~train.columns.duplicated()]

In [27]:
train.shape

(1460, 233)

In [28]:
train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,0,1,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,0,1,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,0,1,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,0,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,0,1,0,0,0,1,0

In [29]:
X = train.drop('SalePrice',axis=1)

In [30]:
y = train['SalePrice']

In [31]:
X.shape

(1460, 232)

In [32]:
y.shape

(1460,)

In [33]:
from sklearn.model_selection import KFold,cross_val_score

def Cross_Validation(model ,X,y):
    cv = KFold(n_splits=10, random_state=1, shuffle=True)
    # evaluate model
    scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
    # report performance
    print('Accuracy on Train: %.3f (%.3f)' % (np.mean(scores), np.std(scores)))

In [36]:
from sklearn.linear_model import LogisticRegression
Cross_Validation(LogisticRegression(),X,y)

Accuracy on Train: 0.012 (0.009)